/* Reset */

html,
body {
  box-sizing: border-box;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

button,
a {
  cursor: pointer;
}

a,
link,
a:hover {
  color: inherit;
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

/* Variable */
:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

/* Common */
.common__Title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.common__Title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

/* Header : Phong */
header {
}

/* Main */
/* section 1: About : Phong */
#about {
}

/* section 2: Intro : Giang */
#intro {
  min-height: 600px;
}

.intro__Left {
  position: relative;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro__Left::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 1;
}

.intro__Right {
  background-color: var(--primary-color);
}

.intro__RightContent .common__Title h6,
p {
  color: white;
}

.intro__RightContent {
  margin-top: 30px;
}

.intro__RightItem .intro__Icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: white;
  line-height: 70px;
  border-radius: 6px;
}

.intro__RightItem span {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.intro__RightItem:hover span {
  color: var(--secondary-color);
}

.intro__RightItemLink {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

/* section 3: Categories : Giang */
#categories .categories__Item {
}

.categories__ItemImg {
  transition: all 0.4s;
  position: relative;
}

.categories__ItemImg::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.categories__ItemImg:hover {
  opacity: 0.85;
}

.categories__ItemInfo {
  position: absolute;
  bottom: -25px;
  width: 92%;
  left: auto;
}

.categories__ItemInfo h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.categories__ItemInfo h6 {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}

/* section 3: Services : QAnh */
#services {
}

/* section 3: Count : QAnh */
#count {
}

/* section 3: Blogs : Giang */
#blogs,
.card,
.card-body,
.card-footer {
  background-color: var(--bg-grey);
  border: none;
}

.card-body p {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

.receipe__Btn {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogs__BtnTime {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.blogs__ImgAnchor {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
}

.blogs__Des {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.card-bodyfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bodyfooter a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

.card-bodyfooter .read:hover {
  color: var(--primary-color);
}

.blogs__AnchorInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* section 3: Testimonials : Giang */
#testimonials {
}

/* Footer : QAnh */
footer {
}
