/* Reset */

html,
body {
  box-sizing: border-box;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
}

a,
link,
a:hover {
  color: inherit;
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Quicksand", sans-serif;
}

/* Variable */
:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --heading-color: #232121;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
  --font-family: 'Quicksand', sans-serif;
}

/* Dark mode - QAnh */
.dark-mode {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

#switch-mode {
  background-color: transparent;
  border: none;
}

#switch-mode #sun {
  display: none;
}

.dark-mode #switch-mode #sun {
  display: inline-block;
}

.dark-mode #switch-mode #moon {
  display: none;
}

/* Common */
.common__Title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.common__Title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp.line-3 {
  --line-clamp: 3;
}

.btn {
  line-height: 30px;
  padding: 12px 45px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.5s;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
}

/* Header : Phong */
header {
  position: absolute;
  left: 0;
  right: 0;
}

.header__left a {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

header .header__content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.header__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.header__right .search__nav {
  display: flex;
  margin: 0 auto;
}

.header__right .search {
  position: relative;
}

.header__right .search__input {
  display: flex;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.header__right .search__icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  font-size: 15px;
  top: 15px;
  color: var(--font-color);
}

.header__right .button__nav .buttom__overlay {
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

.header__right .lightOrdark__nav i {
  display: inline-block;
  width: 20px;
  font-size: 1.7rem;
  color: white;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}

.overlay__scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay .overlay__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
}

.overlay__close:active {
  border: 3px solid white;
}

.overlay .overlay__menu {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.overlay__menu ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin: 20px 0;
}

.overlay__menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay__menu ul a:hover {
  color: var(--primary-color) !important;
}

.overlay__open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
  z-index: 2;
}

/* BANNER */
.banner {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url("./../img/banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
  height: 700px;
}

.banner__content {
  display: grid;
  align-items: center;
  height: 100%;
}

.banner__info {
  max-width: 600px;
  text-align: left;
}

.banner__info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.banner__info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.banner__info .button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

/* Main */
/* section 1: About : Phong */
#about {
  background-color: var(--bg-color);
}

#about .content__left .title__h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

#about .content__left .title__h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

#about .content__right p {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

/* section 2: Intro : Giang */
#intro {
  background-color: var(--primary-color);
}

.intro__LeftImg {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.intro__LeftImg::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 1;
}

.intro__Right {
  background-color: var(--primary-color);
}

.intro__RightTitle h6 {
  color: white;
}

.intro__RightContent {
  margin-top: 30px;
}

.intro__RightItem .intro__Icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: white;
  line-height: 70px;
  border-radius: 6px;
}

.intro__RightItem h6,
p,
.intro__RightItem p {
  color: #ffdfc9;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
}

.intro__RightItem span {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.intro__RightItem:hover span {
  color: var(--secondary-color);
}

.intro__RightItemLink {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

/* section 3: Categories : Giang */
#categories {
  background-color: var(--bg-grey);
}

.categories__ItemImg {
  transition: all 0.4s;
  position: relative;
}

.categories__ItemImg img{
      display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
}

.categories__ItemImg::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.categories__ItemImg:hover {
  opacity: 0.85;
}

.categories__ItemInfo {
  position: absolute;
  bottom: -25px;
  width: 92%;
  left: auto;
}

.categories__ItemInfo h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.categories__ItemInfo h6 {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}

/* section 3: Services : QAnh */
#services {
  padding: 96px 0;
  background-color: var(--bg-color);
}

.services__item {
  padding: 40px;
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.3s linear;
}

.services__item:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.services__item-heading {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.services__icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
  border-radius: 8px;
  transition: all 0.5s linear;
}

.services__item:hover .services__icon {
  background-color: var(--primary-color);
}

.services__icon span {
  transition: all 0.5s linear;
  font-size: 25px;
  color: var(--primary-color);
}

.services__item:hover .services__icon span {
  color: #fff;
}

.services__title p {
  margin-bottom: 0;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

.services__title h3 a {
  color: var(--heading-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  transition: all 0.2s linear;
}

.services__title h3 a:hover {
  color: var(--primary-color);
}

.services__item .desc {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1080px) {
  .services__title h3 a {
    font-size: 20px;
  }
}

/* Section 5: Count, stats, video: QAnh */
/* Count */
#count {
  position: relative;
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#count::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.count__content {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: 0 auto;
}

.count__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  text-align: center;
  color: #fff;
}

.count__btn-group {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.count__btn--read {
  border-color: white;
  background-color: transparent;
}

.count__btn--read:hover {
  background-color: #fff;
  color: var(--primary-color);
  opacity: 1;
  border-color: #fff;
}

@media screen and (max-width: 1080px) {
  .count__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 736px) {
  .count__title {
    font-size: 35px;
    line-height: 40px;
  }
}

/* Stats */
#stats {
  margin-top: -70px;
  background-color: var(--bg-color);
}

.stats__item {
  background-color: var(--bg-color);
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.3s linear;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
}

.stats__item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.stats__icon {
  margin: 0 auto;
  background-color: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  color: #fff;
  text-align: center;
  line-height: 68px;
}

.stats__num {
  margin-top: 16px;
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--heading-color);
  transition: all 0.5s;
}

.stats__label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 28px;
  color: var(--font-color);
}

@media screen and (max-width: 640px) {
  .stats__num {
    font-size: 2rem;
  }
}

@media screen and (max-width: 991.98px) {
  #stats {
    margin-top: 0;
  }
}

/* Video */

.video {
  background-color: var(--bg-color);
}

.video__thumb {
  position: relative;
  min-height: 500px;
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.video__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__icon {
  position: relative;
  z-index: 1;
  display: block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  line-height: 76px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  transition: all 0.3s;
}

.video__icon:hover {
  color: #fff;
  transform: scale(1.2);
  background-color: var(--primary-color);
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
  transform: scale(1.2);
}

.mfp-close,
.mfp-close:active {
  top: -45px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* section 3: Blogs : Giang */
#blogs,
.card,
.card-body,
.card-footer {
  background-color: var(--bg-grey);
  border: none;
  font-family: var(--font-family);
}

.card-body p {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

.receipe__Btn {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogs__BtnTime {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}

.blogs__ImgAnchor {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
}

.blogs__Des {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.card-bodyfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bodyfooter a {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

.card-bodyfooter .read:hover {
  color: var(--primary-color);
}

.blogs__AnchorInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* section 3: Testimonials : Giang */
#testimonials {
  background-color: var(--bg-color);
}

#testimonials .testimonials__Content {
  max-width: 700px;
  margin: auto;
}

#testimonials img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#testimonials p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Quicksand", sans-serif;
}

#testimonials .testimonials__Content h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

#testimonials .testimonials__ItemIndentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
  margin-bottom: 20px;
}

#testimonials blockquote {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}

blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}

blockquote q::after {
  content: close-quote;
}

.owl-dots .active span,
.owl-dot:hover span {
  background: var(--primary-color) !important;
  transition: none !important;
  opacity: 1 !important;
}

/* Footer : QAnh */
.footer {
  font-family: "Quicksand", sans-serif;
  background-color: var(--footer-bg);
  color: #fff;
}

.footer__logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.3s;
}

.footer__logo:hover {
  color: var(--primary-color);
}

.footer__desc {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer__social {
  color: var(--primary-color);
}

.footer__social a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.3s linear;
}

.footer__social a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.footer__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

.footer__list {
  padding-left: 0;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  transition: all 0.3s linear;
}

.footer__link:hover {
  color: var(--primary-color);
}

.footer__mail {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  color: var(--font-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

.footer__mail:focus {
  border: 1px solid var(--primary-color);
}

.footer__sub {
  width: 100%;
}

.cpr__desc {
  font-size: 17px;
  color: #ddd;
}

.cpr__w3 {
  color: var(--primary-color);
  transition: all 0.3s;
}

.cpr__w3:hover {
  color: #fff;
}

.cpr__link {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  transition: all 0.3s;
}

.cpr__link:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 991.98px) {
  .footer__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .cpr__desc {
    text-align: center;
    margin-bottom: 0;
  }

  .footer__social {
    text-align: center;
  }
}

/* Back to top */
.backToTop__btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}

/* Animation */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* RESPONSIVE */
/* moblie: width < 740px */
@media screen and (max-width: 739px) {
  .intro__LeftImg {
    min-height: 200px;
  }
  .content__right p {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .title__h3 {
    font-size: 24px !important;
    line-height: 34px !important;
  }
  .common__Title h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
  .common__Title h6 {
    font-size: 16px !important;
    letter-spacing: 0.5px;
  }

  /* responsive__category */
  .categories__ItemInfo h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.9;
  }

  .categories__ItemInfo h6 span {
    font-size: 16px;
    line-height: 25px;
    opacity: 0.9;
  }
}

/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .intro__LeftImg {
    min-height: 200px;
  }
  .intro__Left {
    min-height: 200px;
  }
  .common__Title h3 {
    font-size: 32px !important;
    line-height: 40px;
  }

  .categories__ItemInfo h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.9;
  }

  .categories__ItemInfo h6 span {
    font-size: 16px;
    line-height: 25px;
    opacity: 0.9;
  }
}

/* pc: width >= 1024px */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 800px) {
  .banner .banner__info h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .banner .banner__info h3 {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (max-width: 600px) {
  .header__right .search__nav {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .banner__info .button {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .banner {
    min-height: 450px;
    height: 450px;
  }
}
